* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
}
.wrapper {
  max-width: 750;
  width: 100%;
  margin: 0 auto;
}

section {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(5, 20vw);
  /* grid-template-columns: repeat(5, minmax(20vw,100%)); */
  grid-template-rows: repeat(5, 100vh);
  grid-column-gap: 1px;
}

.box {
  background-color: black;
  width: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: white;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}

.position {
  position: relative;
}

.one:hover div,
.two:hover div,
.three:hover div,
.four:hover div,
.five:hover div {
  opacity: 1;
  transform: translate3d(-10%, 0, 0);
}

.one div,
.two div,
.three div,
.four div,
.five div {
  width: 111%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 1;
  opacity: 0;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.paragraph {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  z-index: 999;
}

@media screen and (max-width: 768px) {
  section {
    background-color: black;
    display: flex;
    flex-direction: column;
  }

  .box {
    display: block;
    flex-direction: row;
    height: 20vh;
  }

  a {
    color: white;
    text-align: center;
  }
  .paragraph {
    font-size: 16px;
    letter-spacing: 0.7vw;
    color: white;
  }
  .one:hover div,
  .two:hover div,
  .three:hover div,
  .four:hover div,
  .five:hover div {
    display: none;
  }
}
