html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0px;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  font-family: arial;
}

.flex {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 66.4px);
  background-color: #000;
}
nav > div > a {
  text-decoration: none;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 3px;
  transition: all 0.55s ease-in-out;
}
p {
  padding: 10px;
  line-height: 120%;
}
.card:hover {
  color: rgb(187, 26, 26);
  transition: all 1s ease-in;
}
.card {
  transition: all 0.35s ease-in-out;
}
nav {
  padding: 24px;
  background-color: black;
}
.animWord {
  height: 30vh;
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
.letter {
  display: inline-block;
  cursor: default;
}
h1 {
  font-size: 4em;
  color: #fff;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  /* background-color: red; */
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

main {
  margin: 0 auto;
  max-width: 650px;
  font-size: 15px;
  color: white;
  padding-top: 30px;
  padding-bottom: 40px;
  font-family: "Odibee Sans", cursive;
  line-height: 100px;
}
